body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* aligns items to the start (left side) */
}

.form-results {
    margin-right: 20px; /* adjust this value to your liking */
}

.diagram {
    display: flex;
    justify-content: center;
    align-items: center;
}

