body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

h1, form, #results {
  grid-column: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

#diagram {
  grid-column: 2;
}
